html
  head
    title="Hackathon"
    meta(charset='utf-8')
    meta(property="og:site_name", content="San Roque 2014 Pollos")
    meta(property="og:title", content="San Roque 2014 Pollos")
    meta(property="og:description", content="Programa de fiestas")
    meta(property="og:image", itemprop="image" content=image_src)
    meta(property="og:type", content="website")