html
  head
    title="Hackathon"
    meta(charset='utf-8')
    meta(property="og:site_name", content="Hackathon")
    meta(property="og:title", content="Hackathon 2022")
    meta(property="og:description", content="We can do thiss!")
    meta(property="og:image", itemprop="image" content=image_src)
    meta(property="og:type", content="website")
    meta(property="og:url", content=image_src)